@import '../base/variabless';

.winner-message {
  display: none;
  position: fixed;
  top: 45%;
  left: 40%;
  z-index: 2;

  h3 {
    text-shadow:
      1px 1px 1px silver,
      -1px 1px 1px silver;
    color: $color4;
    transition: all .5s;
    font-size: 40px;
  }

  h3:hover {
    text-shadow:
      -1px -1px 1px silver,
      1px -1px 1px silver;
    color: $color4;
  }

}