//Переменные!
$color1: #6FB98F;
$color2: #2C7873;
$color3: #004445;
$color4: #021C1E;
$color5: #004D47;
$color6: #128277;
$color7: #B9C4C9;
$color8: #F4EBDB;
$color9: #8E9B97;
$color10: #D9B44A;
$color11: #919636;
$color12: #524A3A;
$color13: #FFFAE1;
$color14: #5A5F37;


//Шрифты!
$fonts: 'Sofia Sans Extra Condensed', sans-serif;;


$font-weight: 400;

$container-width: 98%;
$margit-center: 0 auto;
